.schedule {
    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 100px repeat(5, 80px) [progress-s] 1fr [progress-e];
    grid-row-gap: 22px;
    align-items: center;
    justify-items: center;

    align-content: start;

    padding-top: 237px;

    &__title{
        position: absolute;
        top:154px;
        color: white;
        font-family: $font-aleg;
        font-size: 20px;
        font-weight: bold;
        border-left: 2px solid $color-subtle-grey;
        padding: 20px 40px;
        text-align: center;
        font-weight: 100;
    }
  }

